.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(#ca81c0, #7b827b);
}
.pigeon-list {
  list-style: none;
  padding: 1em;
}

.container {
  margin-top: 2em;
  background-color: white;
  padding: 1em;
  box-shadow: 0px 0px 4px 2px yellow;
  border-radius: 1em;
}
