.App {
  min-height: 100vh;
  background-image: linear-gradient(orange, gold);
}

.nav-bar {
  background-image: linear-gradient(rgb(45, 117, 138), lightblue);
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
}
.nav-bar > * {
  margin-left: 1em;
}
